/* Selecting an element by tag name */



@font-face{
   font-family: 'sara';
   src: url(<link rel="preconnect" href="https://fonts.googleapis.com">
   <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
   <link href="https://fonts.googleapis.com/css2?family=Comfortaa&display=swap" rel="stylesheet">);
} 
/* i added a new font family and named it Sara */

* {
   box-sizing: border-box; 
   padding: 0;
   margin: 0; 
   background-color: rgb(200, 215, 255);
   font-family: 'sara', sans-serif;
}




/* styled the webpage background */
.header {
   padding: 50px;
   background-color: rgb(85, 122, 134); 
}

.header h1 {
   border-right: 3px solid lightblue; 
   color: black;
   padding: 5px;
   font-size: 25px;
   float: left;
   background-color: rgb(85, 122, 134); 
   width: 170px;
   height: 60px;
   margin-top: -25px;
}
/* this tells the html code how to present "my portfilio" on the top of the page. */
.header nav {
   color: (lightblue);
   font-size: 20px;
   float: right;
   background-color: rgb(85, 122, 134);
   margin-top: -25px;
   width: 405px;
   height: 50px;
   padding: 10px;
}

a {
   background-color: rgb(85, 122, 134);
   color: black;
   padding-right: 13px;
}

.hero {
   height: 135px; 
   width: 100%;
}
/* added in the hero  */

/* designed top of the webpage so that it makes sense logically */
/* file:///C:/Users/18454/Downloads/YO%20IS%20NOT%20GAY!!!!.svg */
.main {
   display: flex;
   flex-direction: column;

   /* border: solid black 5px;  */

} 

.section {
   display: flex;
   flex-direction: row;  
}

.picture {
   width: 200px;
   height: 215px;
   padding: 20px;
   margin-left: 100px;
}
.head h2 {
   padding: 20px;
   border-right: 3px solid lightblue;
   color: black;
   text-align: left; 
   font-size: 50px;
   margin-top: 35px;
   padding-bottom: 10px;
   margin-bottom: 25px;
   margin-left: 100px;
   height: 150px;
   width: 200px;
}

.text p { 
   color: black;
   font-size: 25px;
   text-align: left;
   /* background-color: white; */
   width: 830px;
   height: 750px;
   margin-left: 25px;
   margin-top: 65px;
 }

/* changing the text */
/* added in the section called about me */


.article{
   display: flex;
   flex-direction: row;
   /* border: solid blue 2px; */
   
}
/* contains all my place holders for my work */

/* .head 2 { 
   padding: 20px;
   border-right: 3px solid lightblue;
   color: rgb(2, 18, 26);
   text-align: left; 
   font-size: 50px;
   margin-top: 15px;
   padding-bottom: 10px;
   margin-bottom: 25px;
   /* height: 150px; */



/* .happy img { 
   width: 100px;
   height: 100px;
   padding: 20px;
   margin-left: 50px;
   display: inline-flex; 
   flex-direction: row;
   align-content: space-around;
 } */

 /* .image-section{ */
   /* display: flex; */
   /* flex-direction: column;  */
   /* background-position: top left, top right, bottom left, bottom right; */ 
.image-section-1:hover { 
   transform: scale(1.1); 
 }

 .image-section-2:hover {
   transform: scale(1.1); 
 }
 .image-section-3:hover {
   transform: scale(1.1); 
 }
 .image-section-4:hover {
   transform: scale(1.1); 
 } 
/* all my pictures to be in place of my work */

.footer{
   display: flex;
   flex-direction: row;
   padding: 15px;
   padding-right: 20px;
   border-right: 3px solid lightblue;
   text-align: left;
   font-size: 15px;
}
/* created a class that contains my contact info */

.footer ul li {
   list-style-type: none;
   flex-direction: column;
   color:black;
   border-bottom: 3px solid rgb(252, 176, 235);
   font-size: 14px;
   padding-bottom: 10px;
   /* margin-bottom: 25px; */
   text-align: right;
   float: left;
   margin-top: 100px;
   margin-left: 20px; 
}


/* having a hard time but i still want to save my progress */