/* Selecting an element by tag name */
@media {

* {
   box-sizing: border-box; 
   padding: 0;
   margin: 0; 
   background-color: rgb(200, 215, 255);
}



/* styled the webpage background */
.header {
   padding: 50px;
   background-color: rgb(11, 2, 90); 
}

.header h1 {
   border-right: 3px solid red; 
   color: rgb(2, 18, 26);
   padding: 5px;
   font-size: 25px;
   float: left;
   background-color: rgb(245, 26, 10);
   width: 175px;
   height: 45px;
   margin-top: -25px;
}
/* this tells the html code how to present "my portfilio" on the top of the page. */
.header nav {
   color: rgb(8, 8, 8);
   font-size: 25px;
   float: right;
   background-color: red;
   margin-top: -25px;
   width: 355px;
   height: 50px;
   padding: 10px;
}

a {
   background-color: black;
}

.hero { 
   height: 200px;
   width: 100%;
   background-image: url("https://static.vecteezy.com/system/resources/previews/002/405/713/original/floral-hand-drawn-frame-border-decorative-design-element-free-vector.jpg");
   background-size: cover;
   background-position: center;
}
/* added in the hero  */

/* designed top of the webpage so that it makes sense logically */

.main {
   display: flex;
   flex-direction: column;
   border: solid black 5px; 
} 

.section {
   display: flex;
   flex-direction: row;
   border: solid blue 2px;
   justify-content: center; 
}

.head h2 {

   padding: 20px;
   border: solid black 2px;  
   border-right: 3px solid red;
   color: rgb(2, 18, 26);
   height: 250px; 
   font-size: 50px;
   margin-top: 15px;
   padding-bottom: 10px;
   margin-bottom: 25px;
   }

.text p { 
   color: darkturquoise;
   font-size: 20px;
   text-align: left;
   background-color: white;
   width: 1000px;
   margin-left: 15px;
   margin-top: 25px;

 }

/* changing the text */
/* added in the section called about me */


}

.article{
   display: flex;
   flex-direction: row;
   /* border: solid blue 2px; */
   padding: 20px;
   margin-left: 55px; 
}

/* .head h2 {
   padding: 20px;
   border: solid black 2px;  
   border-right: 3px solid red;
   color: rgb(2, 18, 26);
   height: 300px; 
   display: flex; 
   flex-direction: column; 
   border-right: 3px solid red;
   color: rgb(2, 18, 26);
   padding-right: 10px;
   font-size: 60px;
   background-color: purple;
   justify-content: flex-start;
} */

.figure {
   display: flex;
   width: 25px;
   height:25px;
   margin-top:50px;
   flex-direction: row;
   padding: 20px;
}
.happy {
   width: 85px;
   height: 85px;
   display: flex;
   color: darkturquoise;
   background-color: purple;
   justify-content: space-between;
   justify-content: flex-end;
}
 
.footer { 
   display: flex;
   flex-direction: row;
   border: solid blue 2px;
   padding: 20px; 
}

/* .head h2 { 
   border-right: 3px solid red;
   color: rgb(2, 18, 26);
   font-size: 50px;
   background-color: purple;
   justify-content: flex-start; 
   width: 148px;
}*/


.footer ul li {
   list-style-type: none;
   color: darkturquoise;
   border-bottom: 2px solid blue; 
   font-size: 20px;
   text-align: left;
   float: left;
   background-color: purple;
   margin-right: 10px;
   margin-top: 80px;
   margin-left: 10px;
   justify-content: space-between;
}


/* having a hard time but i still want to save my progress */